#foodName {
    display: none;
    position: fixed;
    left: 100px;
    top: 220px;
    background-color: white;
    font-size: 30pt;
    width: 300px;
}

#foodDescription {
    display: none;
    width: 460px;
    top: 160px;
    position: fixed;
    left: 430px;
    background-color: white;
    font-size: 18pt;
    border-radius: 15%;
}

#helpButton {
    cursor: pointer;
    width: 107px;
    height: 52px;
    position: fixed;
    top: 576px;
    left: 220px;
}

#back {
    width: 125px;
    height: 53px;
    position: fixed;
    top: 576px;
    left: 76px;
}

#finalize {
    width: 178px;
    height: 53px;
    position: fixed;
    top: 498px;
    left: 110px;
    cursor: pointer;
}

#blockCustomize {
    position: fixed;
    top: 320px;
    left: 400px;
    width: 550px;
    height: 320px;
    background-color: white;
    display: none;
}

.option, .slider {
    position: fixed;
    cursor: pointer;
    width: 80px;
    height: 25px;
}

#cheese {
    top: 380px;
    left: 490px;
}

#mushroom {
    top: 385px;
    left: 655px;
}

#ketchup {
    top: 515px;
    left: 820px;
}

#mayo {
    left: 820px;
    top: 550px;
}

