#helpButton {
    cursor: pointer;
    width: 109px;
    height: 52px;
    position: fixed;
    top: 170px;
    left: 60px;
}

#back {
    width: 130px;
    height: 53px;
    position: fixed;
    top: 88px;
    left: 60px;
}

 #phoneNum {
    position: fixed;
    top: 517px;
    left: 130px;
    font-size: 20px;
    display: none;
}

.method {
    position: fixed;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

#phone {
    top: 507px;
    left: 60px;
}

#email {
    top: 557px;
    left: 60px;
}

#print {
    top: 607px;
    left: 60px;
}